.seperator{
    height: 10px;
    clear: both;
}
.profile-body.customers{
    margin-top: 80px;
}
.dashboard-customer.customer-tab{
    padding: 19px;
    min-height: 150px !important;
}
.profile-body.second-row{
    float: right;
}
.profile-body .well.customer-tab{
    padding: 0;
}
.dashboard-customer.dashboard-customer.customer-tab .panel-body .cust-info{
    margin-bottom: 0;
}
.mb-20{
    margin-left: 247px;
    margin-bottom: 10px !important;
}
.my-customers{
     margin-left: 270px;
     font-size: 13px;
     margin-bottom: 15px;
}
.icon-customer{
    font-size: 1.7rem;
    font-family: 'SegoeUI-SemiLight';
    color: #7e7e7e;
    padding:0 !important;
}
.my-customers a{
    color:#000;
    font-weight: 600;
    padding: 5px 5px;
}
.my-customers a:hover, a:active{
    color:#0078d7;
    text-decoration: underline;

}
.my-customers-count{
    border-bottom: 1px solid #e6e6e6;
    padding: 5px 5px;    
}
.my-customers-count h4{
    font-size: 1.7rem;
    font-family: 'SegoeUI-SemiLight';
    color:#7e7e7e;
    margin: 5px 0 10px 5px;
}
.pagination>li>a {
    margin-right:10px;   
}
.pagination>li.active a, .pagination>li.active a:hover{
     background-color: #fff;
     color:#000;
}
.pagination>li>a{
    border:none !important;
}
.pagination>li>a:hover{
    border: 1px solid #0078d7 !important;
    background-color: #fff !important; 
}


.cust-data{
    border:1px solid #c8c8c8;
    height: 140px;
    border-left:none;
    margin-left:-15px;
    padding-right:0 !important;
    padding-left:5px !important;
}
.cust-icons {
 margin:0 !important;
 padding:0 !important;
}
.cust-icons span{
    display: inline-block;
    height: 70px;
    border:1px solid #c8c8c8;
    width: 100%;  
    padding:22px;      
}
.cust-icons span a{
    font-size: .8em;
}
.cust-icons span:hover{
    background-color:  #0078d7;
}
.cust-icons span .glyphicon{
    color:#000 !important;
}

.cust-data .company-data div  h4{
    margin-top:10px;    
}
.cust-data .company-data .col-xs-10, .cust-data .company-data .col-xs-9{
    padding-left: 0 !important;
     padding-right: 0 !important;
}
.cust-data .company-data .col-xs-2,.cust-data .company-data .col-xs-3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.cust-data .company-data div  h4 .glyphicon{
    color:#000;
    font-size: 13px;
}
.cust-data .company-data h4 a{
    font-weight:bold;
    margin-bottom: 5px;
}
.cust-data .company-data .seedetails{
    display: block;
    font-size: .80em;
    color: #0078d7;
    margin-top: 15px; 
    text-align: center;
}
.cust-data.allcustomers .company-data .seedetails{
    font-size:.64em;
}
.cust-data.allcustomers .company-data .seedetails:first-child{
    margin-left:55px;
}
.cust-data.allcustomers .company-data .seedetails:last-child{
    margin-top:38px;
}
.cust-data .company-data div h6{
    font-size:1em;
    color:#b8bdc1;
    margin-left:10px;
    padding:10px;
}
.cust-data .company-data p{
    margin-left:20px;
}
.pagination li a{
    color:#000;
     font-size: 16px;
}
.pagination li:last-child > a{
    font-weight: bold;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.customers-back{
    margin-top:50px;
}
.customers-back .back-to-customers{
    margin:20px 10px;
}
.customers-back .back-to-customers h2{
    font-size: 1.7rem;
    font-family: 'SegoeUI-SemiLight';
    color: #7e7e7e;
}
.customers-back .back-to-customers h2 span{
    font-style: italic;
}
.my-customers-back{    
    margin-top: -50px;
}
.company-picture.allcustomers, .company-picture.allcustomers img, .cust-data.allcustomers{
    height: 110px !important;
}
.cust-data.allcustomers p{
    padding: 0 !important;
}
.cust-data.allcustomers div h4{
    width:none !important;
}
.cust-data.allcustomers .col-xs-9 p{
    margin-top: -5px;
}

/*Summary*/
ul,ol{
    list-style: none;
}
.summary{
    background-color: #f4f4f4;
    height:210px;
    font-size: .74em;
    padding:15px;
    border: 1px solid #c8c8c8; 
    border-left:4px solid #c8c8c8; 
    border-top: none;
}
.summary .row.title{
    text-align: center;    
}
.summary .data ul li{
    padding:4px;
}
.summary .row.title div:first-child{
    border-right:1px solid #c8c8c8;    
}
.summary .row.title div a{
    color: #000;
}
.summary .row.title div a:hover{
    border-bottom: 3px solid #0078d7;
}

.summary .data .col-xs-8{
    font-weight: bold;
    padding: 15px 0 0 0 !important;
}
.summary .see-more{
    text-align: right;
    color: #0078d7;
}

.summary.success-plan{
    height:275px;
}
.summary.success-plan table{
    margin-top:20px;
}
.summary.success-plan table tr{
    text-align: left
}
.summary.success-plan table tr td:first-child{
    width:30%;
}

