/*font list*/


/*0 Initialization*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    /*     vertical-align:baseline;*/
    /*border:0;*/
    /*font-size:100%;*/
    font-family: 'museo100',ColabLight, Helvetica, sans-serif;
    /*color: #000;*/
    /*transition: 0.3s;*/
    font-weight: normal;
}

/*1 Default Aspect */
/*1.1 default font style*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {}
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.03em 0.03em 1px rgba(0,0,0,0.2);
}
/*1.2 common class*/
.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}
.align-center{
    text-align: center;
}
/*1.3 body elem*/
body {
    font-family: 'Roboto-Thin', sans-serif;
   /* background:  url("../img/bg/bg2.jpg");
    background : -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,.6) 50%, rgba(0,0,0,0.9) 100%),
    url("../img/bg/bg2.jpg") no-repeat 0px 0px;
    background : -o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,.6) 50%, rgba(0,0,0,0.9) 100%),
    url("../img/bg/bg2.jpg") no-repeat 0px 0px;
    background : -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,.6) 50%, rgba(0,0,0,0.9) 100%),
    url("../img/bg/bg2.jpg") no-repeat 0px 0px;
    background : -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,.6) 50%, rgba(0,0,0,0.9) 100%),
    url("../img/bg/bg2.jpg") no-repeat 0px 0px;
    background : linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,.6) 50%, rgba(0,0,0,0.9) 100%),
    url("../img/bg/bg2.jpg") no-repeat 0px 0px;*/
    /*background-attachment: fixed;*/
    background-color: #fff;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
}
.fullscreen{
    min-height: 300px;
}
/*video bg*/
video, object {
    top:0;left:0;
    position:absolute;
    z-index: -1;
    position: fixed;
    width: 100%;
    height:100% ;
}

/*2 header page*/
/*2.0 menu top content and language selector*/
.top-content{
    overflow: hidden;
    position: absolute;
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    transform : translate3d(0, 0, 0);
    /*webkit (chrome, opera16+,safari) bug with anim andfixed position*/
    top:0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 100;
    height: 1.2em;
    padding-bottom: 1.8em;
    padding-top: 0.6em;
    font-size: 1.0em;
}
.bottom-content{
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    transform : translate3d(0, 0, 0);
    bottom:3em;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 50;
    height: 1.2em;
    padding-bottom: 1.8em;
    padding-top: 0.6em;
    font-size: 1.0em;
}
.top-content .row, .bottom-content .row{
    max-width: 95%;
}
.top-content a, .top-content span, .top-content a span,
.bottom-content a, .bottom-content span, .bottom-content a span{
    color: transparent;
    font-family: "Roboto-Thin";
}
.bottom-content a{

}
.bottom-content a:after{
    position: absolute;
    content: "";
    min-width: 50px;
    min-height: 50px;
    border-radius: 50px;
    right: 1em;
    background: rgba(255,255,255,0.2) url("../img/icon/Arrow.png") 0px 0px no-repeat;
    background-size: 100% 100%;
    border: 2px solid rgba(0,0,0,0.2);
}
.bottom-content div.back-top a{
}
.top-content a.list-lang-btn{
    width: 2em;
}
.top-content a,
.top-content a span{
    color: #ccc;
}
.top-content a span.active-lang{
    font-family: "Roboto-Regular";

}
.top-content .list-menu-btn{
    display: none;
}
/*menu list*/
.menu{
    display: block;
    position:absolute;
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    transform : translate3d(0, 0, 0);
    width: 100%;
    background: transparent;
    top:2.6em;
    left:0;
    z-index: 100;
}
.menu .row a span{
    display: none;
}
.menu hr{
    background: transparent;
    display: none;
}
.menu .ul div{
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.5em;
}
.menu .ul div.to-services:nth-child(1):hover{
    border-bottom: 2px dotted #eb252a;
}
.menu .ul div.to-services:nth-child(2):hover{
    border-bottom: 2px dotted #f68921;
}
.menu .ul div.to-services:nth-child(3):hover{
    border-bottom: 2px dotted #42b649;
}
.menu .ul div.to-services:nth-child(4):hover{
    border-bottom: 2px dotted #227dc1;
}
.menu .ul div a{
    color: #fff;
    color: #ccc;
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    transition: all 200ms;
    font-family: 'webser-regular', ColabLight, Helvetica, Arial;
}
.menu .ul div a:hover{
    color: #333;
    -webkit-transform-origin: center bottom;
    -webkit-transform: rotateX(360deg);
    background: #E8E536;
}
.menu .ul{

}

/* arrow icon (span tag) */
/*
Back to top button
*/

/*header initialization*/
header#header{
    width: 100%; min-height: 100%;
    overflow: hidden;
    /*overflow: hidden;*/
    position: relative;
    /*useful to keep content element position inside this elem*/
    z-index: 2;
}
header#header, x:-webkit-any-link {
    /*fixed background had bug with webkit so disable it here*/
    background-attachment: scroll;
}
header#header, header#header h2{
    color: #000;
    z-index: 2;
    text-transform: lowercase;
    font-family: 'webser-regular', ColabLight, Helvetica, Arial;
    /*font-family:  ColabBol, Helvetica, Arial;*/
    font-weight: normal;
}

header#header h2.header-description{
    font-size: 2.5em;
    /*font-size: 2.5em;*/
	padding : 10px;
	/*border : 1px dotted #ccc;;*/
    line-height: 1em;
    letter-spacing: 0.2em;
    text-shadow: 0.00em 0.00em 1px rgba(255,255,255,0.8);
    text-transform: uppercase;
}
header#header img{
    /*opacity: 0.6;*/
}
/*2.1 header top*/
.header-top{
    position: absolute !important;
    top: 18%;
    left:0%;
    width: 100%;
    -moz-animation: wave 7.55556s 0.1s ease-in-out infinite alternate ;
    -ms-animation: wave 7.55556s 0.1s ease-in-out infinite alternate ;
    animation: wave 7.55556s 0.1s ease-in-out infinite alternate ;
    z-index: 2;
}
.header-top #logo:after{
    content: "";
    position: absolute;
    text-align: center;
    left: 0;
    top:0;
    width: 70px;
    height: 50px;
    background: url("../img/cloud-white.png");
    background-size: 100% 100%;
    opacity: 0.2;
    -moz-animation: wave 10s 0.1s linear infinite alternate;
    -ms-animation: wave 10s 0.1s linear infinite alternate;
    animation: wave 10s 0.1s linear infinite alternate ;
}
/*animation */



/*2.2 header bottom*/
.header-bottom{
    position: absolute !important;
    bottom: 5%;
    width: 100%;
    opacity: 0.8;
    z-index: 10;

}
.header-bottom>.row{
    max-width: 72.5em;
}
.header-bottom h2.header-description{
    /*for animation*/
    /*position: absolute;*/
}
.header-bottom p{
    font-family: 'museo100';
    font-size: 1.2em;
    bottom: 0;
}
/*2.2 social icon*/
.social-link div{
}
.social-icon span,.social-icon a{
    font-family: "socialico" !important;
    font-size: .9em;
    font-weight: normal;
    color: rgba(200,200,200,0.6);
    text-shadow: 0px 0px 2px rgba(255,255,255,0.6);
}

/*3 main content*/

p.hh-big-readable{
	font-size : 2em;
    font-family	:	'webser-regular', ColabLight, Helvetica, Arial;
    text-transform: uppercase;
}
section.hh-main-content{
    position: relative;
    background: transparent;

}
section.hh-main-content .notes{
    /*position : absolute;
    width: 100%;
    text-align: center;
    left:0;
    bottom: 2%;
    font-size: 2em;*/
}
section.hh-main-content  div.section-container{
    padding-top:3em;
    padding-bottom:3em;
}
section.hh-main-content.fullscreen  div.section-container{
    position: absolute;
    width: 100%;
}
section.hh-main-content.hh-services-screen{
    background-color: #fff;
    background: url("../img/bg/phone.png") no-repeat 5% 20%;
}
/*main content section header title*/
section.hh-main-content h2 span{
    font-weight: normal;
    font-size: 1.5em;
    font-family	:	'webser-regular', ColabLight, Helvetica, Arial;
    font-size: 2.5em;
    text-transform: uppercase;
}/*span for the double quote*/
section.hh-main-content h2 span.span-big{
    color: rgba(117,188,42,0.8);
}
/*black and whit screen section*/
section.hh-main-content.white-bg{
    background-color: #fff;
    border-top: 0em solid rgba(117,188,42,0.8);
}
section.hh-main-content.white-bg>div>.row{
	border-left: 1px dotted #BCFF7A;
    border-right: 1px dotted #BCFF7A;
	margin-top:1em;
}
section.hh-main-content.black-bg{
    background-color: #222;
    border-top: 0px solid rgba(117,188,42,0.8);
    color: #000;
    background: none;
}
section.hh-main-content.black-bg>div>.row{
    border-left: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
	margin-top:1em;
}

section.hh-main-content.black-bg p, section.hh-main-content.black-bg h2{
    color: #ccc;
}
/*4 section hh-services-screen details and lists*/
section.hh-main-content ul li{
    list-style: none;
    text-align: left;
}
section.hh-main-content ul li p{
    font-weight: 100;
    font-family: 'museo100';
    color: #4d4d4d;
    font-size: 1em;
}
section.hh-main-content ul li p a{
    color: rgb(43, 166, 203);
    font-family: 'ColabLight';
}
section.hh-main-content ul li p.social-icon{
    font-size: 3em;
}
section.hh-main-content ul li p.social-icon a{
    color:rgba(221, 221, 221, 0.3);
    text-shadow: none;
}
/*service screen*/
section.hh-main-content ul li h3{
    font-family: webser-regular, ColabLight, Helvetica, Arial;
    font-weight: 900;
    color: #333;
    font-size: 1.5em;
    text-transform: uppercase;
}
section.hh-main-content.hh-contact-screen{

}
section.hh-main-content.hh-services-screen ul{
    margin-left: 3em;
}
section.hh-main-content.hh-contact-screen ul {
    margin-left: 2em;
}
.desc-details{
    position: fixed;
    z-index: 101;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 2em;
    border-bottom: #333 solid 2em;
    border-top: #333 solid 2em;
    border-left: #333 solid 2em;
    border-right: #333 solid 2em;
    /*//disable it*/
    display: none;
}
.desc-details .description-text{
}
.desc-details .description-text h3{
    padding-left: 0.5em;
    margin: 0;
    margin-bottom: 1em;
    background: #333;
    color: #000;
    font-size: 2em;
    font-weight: normal;
}
.desc-details .description-text h3:after{
    border-bottom: none !important;
}
section.hh-main-content.hh-services-screen ul li:before,
section.hh-main-content.hh-contact-screen ul li:before{
    position: absolute;
    top:0.5em;
    left: -1.28em;
    content: attr(data-icon);
    font-size: 2.5em;
    color: #000;
    font-family: "sosa-regular-webfont";
    z-index: 1;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
section.hh-main-content.hh-services-screen ul li.pulsarfont:before,
section.hh-main-content.hh-contact-screen ul li.pulsarfont:before{
    font-family: "pulsarjs"
}

section.hh-main-content.hh-services-screen ul li:after,
section.hh-main-content.hh-contact-screen ul li:after{
    position: absolute;
    content: "";
    font-size: 3em;
    font-family: "Roboto-Regular";
    min-width: 1.5em;
    min-height: 1.5em;
    background: #BCFF7A;
	background : #444;
    top:0.35em;
    left: -1.4em;
    z-index: 0;
    -webkit-transform: scale(0.8) rotate(45deg);
    -moz-transform: scale(0.8) rotate(45deg);
    -o-transform: scale(1) rotate(45deg);
    -ms-transform: scale(1) rotate(45deg);
    transform: scale(0.8) rotate(45deg);
    /*smooth transition*/
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
section.hh-main-content.hh-services-screen ul li:hover:after,
section.hh-main-content.hh-contact-screen ul li:hover:after{
    background: #fff;
    transition: 0.3s;
    border: 2pt solid #5bc1ff;
	border : 2pt solid #444;
}
section.hh-main-content.hh-services-screen ul li:hover:before,
section.hh-main-content.hh-contact-screen ul li:hover:before{
    color: #5bc1ff;
	color : #444;
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
}

section.hh-main-content.hh-services-screen ul li:hover h3:after,
section.hh-main-content.hh-contact-screen ul li:hover h3:after{
    position: absolute;
    content: ".";
    width: 5em;
    left:0.6em;
    /*top:1.91em;*/
    font-size: 1em;
    color: transparent;
    animation: 1s ease-out 0s normal both 1 roll, 1s ease-out 0s normal both 1 fadeIn;
    padding-bottom: 0.2em;
    border-bottom: 2pt solid #5bc1ff;
	border-bottom: 2pt solid #444;
}

section.hh-main-content.hh-services-screen ul li p,
section.hh-main-content.hh-contact-screen ul li p{
    line-height: 1.2em;
    color: #666;
}
/*section meet the team hh-about-us-screen*/
section.hh-main-content.hh-about-us-screen ul li{
    padding-top: 1em;
    padding-bottom: 1em;
    text-shadow: 0.03em 0.03em 1px rgba(0,0,0,0.2);
	border : 1px dotted #ccc;;
}

section.hh-main-content.hh-about-us-screen ul li{

}

/*team image flip*/
.hh-team-member {
    float: left;
    text-align: center;
}

.hh-flip-container {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    margin: 0 auto 15px;
}

.hh-team-member:hover .hh-flipper,
.hh-team-member.hover .hh-flipper {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.hh-flip-container{
    height: 121px;
    width: 121px;
}
.hh-flipper .front,
.hh-flipper .back {
    width: 121px;
    height: 121px;
}

.hh-flipper {
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.hh-flipper .front,
.hh-flipper .back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
    left: 0;
}
.front {z-index: 2;}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.hh-flip-container img {
    cursor: pointer;
    border-radius: 100px;
}
section.hh-main-content.hh-about-us-screen ul li h3{
    color:#b3aeae;
    border-bottom: 2px solid #BCFF7A;
}
section.hh-main-content.hh-about-us-screen ul li p{
    color:#b3aeae;
    margin-bottom: 0px;
}
section.hh-main-content.hh-about-us-screen ul li img:hover{
    transition : 0.4s ease-in-out;
}


/*contact screen*/
section.hh-main-content.hh-contact-screen{
    border-bottom: 5px solid #222;
    background: #fff;
    background-color: #fff;
    background: url("../img/bg/contact.png")  no-repeat 5% 20%, #fff;
}

.button {
    background:#e94f44;
    background:#2284A1;
    border: 2px solid #fff;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'ColabLight';
    font-weight: 100;
    font-size: 1.3em;
}
.button:hover {
    border: 2px solid;
    background: #fff;
    color: #2284A1;
}

/*footer*/
footer p, footer p a{
    font-family: "Roboto-Regular";
}
footer p{
    font-size: 0.8em;
}
p.swipe-comment{
    display: none;
}

/* Swipe 2 required styles */
/*
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
}
*/


/* END required styles */
@mediaff all {
    /*hack for ie8 error*/
    #view-list-menu{
        position: static\0/;
    }

    .menu{max-width: 100%\0/;}
    .menu .ul {
        /*display: none\0/; */
        position: relative\0/;
        max-width: 800px\0/;
        width: 800px\0/;
        color: #fff\0/;
        padding-top: 20px\0/;
    }
    .menu .ul div{
        /*display: none\0/;*/
        text-align: center\0/;
        padding-bottom: 5px\0/;
        max-width: 20%\0/;

    }
    .menu .ul div a{
        /*display: none\0/;*/
        text-align: center\0/;
        font-size: 1.5em\0/;
        color: #fff\0/;
    }
    .header-top{
        position: relative\0/;
        max-width: 100%\0/;
        text-align: center\0/;
    }
    .header-top h2{
        text-align: center\0/;
        margin: auto\0/;
        max-width: 200px\0/;
    }
    .hh-main-content{
        max-width: 1000px\0/;
        min-width: 1000px\0/;
        width: 1000px\0/;
        margin: auto\0/;
    }
    .hh-about-us-screen .align-right{
        text-align: center\0/;
    }
    .hh-about-us-screen .align-left{
        text-align: center\0/;
    }
    .hh-about-us-screen .swipe-lr{
        max-width: 300px\0/;
        min-width: 300px\0/;
        margin: auto\0/;
        padding-left: 98px\0/; 	/*100 - 2 because of border*/
        padding-right: 98px\0/;
    }
}

@media screen and (max-width: 767px){
    /*responsive */
    /*1.2 common class*/
    body {
        background: #111;
        background-attachment: scroll;
    }
    video{
        display: none;
    }
    header#header{
        /*background:  url("../img/bg/bg2.jpg");*/
       /* background-size: auto 100%;
        background-attachment: scroll;*/
        background-color: #fff;
    }
    .small-align-right{
        text-align: right;
    }
    .small-align-left{
        text-align: left;
    }
    .small-align-center{
        text-align: center;
    }
    /*menu*/
    .top-content{
        position: fixed;
        -webkit-transform: translate3d(0, 0, 0);
        transform : translate3d(0, 0, 0);
        top:0;
        width: 100%;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 100;
        height: 1.2em;
        padding-bottom: 1.8em;
        padding-top: 0.6em;
        font-size: 1.0em;

    }
    .top-content a, .top-content span, .top-content a span{
        color: #fff;
        font-family: "Roboto-Thin";
    }
    .top-content a.list-lang-btn{
        width: 2em;
    }
    .top-content a span.active-lang{
        font-family: "Roboto-Regular";
    }
    .top-content .list-menu-btn{
        display: block;
    }


    /*menu list*/
    .menu{
        display: none;
        position:fixed;
        -webkit-transform: translate3d(0, 0, 0);
        transform : translate3d(0, 0, 0);
        width: 100%;
        background: rgba(117,188,42,0.8);
        top:2.6em;
        left:0;
        z-index: 100;
    }
    .menu hr{
        background: transparent;
        display: none;
    }
    .menu .row a span{
        /*show the -*/
        display: inline;

    }

    .menu .ul>div.small-hide{
        display: none;
    }
    .menu .ul>div{
        /*padding-top: -0.5em;*/
        padding-left: 0.2em;
        padding-top: 0.1em;
        padding-bottom: 0.0em;
        border-bottom: none;
        font-size: 3em;
        height: 1em;
        line-height: 0.6em;
        text-transform: lowercase;
        display: list-item;
        text-align: left !important;
    }
    .menu .ul>div a{
        font-family: "webser-regular", ColabLight, Helvetica, Arial;
        font-size: 0.7em;
		padding-right : 0;
        letter-spacing: 0.3em;
        font-weight: normal;
        color: #fff;
    }
    .menu .ul>div span{
        text-align: right;
        position: absolute !important;
        right: 0.5em;
        font-family: 'Roboto-Thin';
        text-shadow: none;
    }
    .menu .ul>div.current-nav, .menu .ul>div:hover{
        background: rgba(255,255,255,0.8);
        transition: 0.3s;
    }
    .menu .ul>div.current-nav a{
        color: #555;
    }
    .menu .ul>div a:hover{
        background: none;
    }
    /* Swipe 2 required styles */

    /*.swipe {*/
        /*overflow-x: hidden;*/
        /*visibility: hidden;*/
        /*position: relative;*/
    /*}*/
    /*.swipe-wrap {*/
        /*overflow-x: hidden;*/
        /*position: relative;*/
    /*}*/
    /*.swipe-wrap > div {*/
        /*float:left;*/
        /*width:100%;*/
        /*position: relative;*/
    /*}*/
    /*p.swipe-comment{*/
        /*display: inline-block;*/
        /*color: #6ABA2F;*/
        /*font-style: italic;*/
    /*}*/

	p.hh-big-readable{
	font-size : 1.3em;
    font-family	:	'webser-regular', ColabLight, Helvetica, Arial;
    text-transform: uppercase; 
	}
    header#header h2.header-description{
        font-size: 1.2em;
    }
	section.hh-main-content
	{
		overflow:hidden;
	}
	
	
    section.hh-main-content h2 span{
        font-size: 1.5em;
    }
    section.hh-main-content.hh-services-screen ul,
    section.hh-main-content.hh-contact-screen ul{
        margin-left: auto;
    }

    section.hh-main-content.hh-services-screen ul li h3,
    section.hh-main-content.hh-contact-screen ul li h3{
        margin-bottom: 1em;
        margin-top: 1em;
    }
    section.hh-main-content.hh-services-screen ul li:hover h3,
    section.hh-main-content.hh-contact-screen ul li:hover h3{
        color: #5BC1FF;
    }
    section.hh-main-content.hh-services-screen ul li:hover h3:after,
    section.hh-main-content.hh-contact-screen ul li:hover h3:after{

        border-bottom: none;
    }


    section.hh-main-content.hh-services-screen ul li,
    section.hh-main-content.hh-contact-screen ul li{
        text-align: center;
    }
    section.hh-main-content.hh-services-screen ul li p,
    section.hh-main-content.hh-contact-screen ul li p{
        text-align: left;
        font-weight: 100;
        font-family: 'ColabLight';
    }

    section.hh-main-content.hh-services-screen ul li:before,
    section.hh-main-content.hh-contact-screen ul li:before{
        /*position: relative;*/
        text-align: center;
        top:-0.2em;
        left: 1em;
        font-size: 2.2em;
    }

    section.hh-main-content.hh-services-screen ul li:after,
    section.hh-main-content.hh-contact-screen ul li:after{
        min-width: 1.2em;
        min-height: 1.2em;
        top:-0.2em;
        left: 0.5em;
        border-radius: 1em;
    }


    /*section about us*/
    section.hh-main-content.hh-about-us-screen ul li.light-bg{
        background: rgba(255,255,255,0.1);
        border: none;
    }
    section.hh-main-content.hh-about-us-screen ul li.dark-bg{
        background: rgba(0,0,0,0.1);
        border: none;
    }
    /*remove flip animation if not available*/
    .hh-flipper .front {
        z-index: 2;
        display:none;
    }
    .hh-flipper .back {
        -webkit-backface-visibility: visible;
        -moz-backface-visibility: visible;
        -o-backface-visibility: visible;
        backface-visibility: visible;
    }




}


@media screen and (min-resolution: 170dpi){
    /*html, body, div, span, h1, h2, h3, h4, h5, h6, p,  ul, li, nav {*/
        /*font-size: 94%;*/
    /*}*/
    header#header h2.header-description{
        font-size: 1em;
        margin-bottom: 0.2em;
    }
    .top-content{
        font-size: 0.8em;
    }
    .menu .ul>div a{
        font-size: 0.8em;
    }
    .bottom-content{
        top: 3em;
        bottom: auto;
    }
    /*3 main content*/
    section.hh-main-content h2{
        font-size: 1.5em;
        line-height: 1.5em;
    }
    section.hh-main-content article p{
        margin-bottom: 1em;
        line-height: 1.5em;
    }
    /*section service*/

    section.hh-main-content ul li{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    section.hh-main-content ul li p{
        font-size: 1.2em;
    }
    section.hh-main-content ul li h3{
        font-size: 1.5em;
    }

    section.hh-main-content.hh-services-screen ul li:before,
    section.hh-main-content.hh-contact-screen ul li:before{
        text-shadow: none;
        top: -0.105em;
        font-size: 1.5em;
        left:0.9em;
    }
    section.hh-main-content.hh-services-screen ul li:after,
    section.hh-main-content.hh-contact-screen ul li:after{
        font-size: 1.7em;
        left:0.5em;
        top:-0.2em;
        font-family: "opensans-regular";
        min-width: 1.5em;
        min-height: 1.5em;
    }
    section.hh-main-content.hh-about-us-screen ul li p{
        margin-bottom: 1em;
    }
    section.hh-main-content.hh-about-us-screen ul li p.social-icon{
        /*font-size: 2em;*/
        margin-bottom: 0em;
    }


}